/* Your app styles here */
/* Your app styles here */

ion-item {
  font-size: 1rem;
}

ion-text {
  display: block;
  font-size: 0.8rem;
}

ion-toast {
  color: var(--ion-color-secondary);
}

ion-backdrop {
  opacity: 0.3;
}

.dark {
  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: var(--ion-color-secondary);
  --ion-border-color: var(--ion-color-secondary);
}

.sections {
    margin: 1rem;
}

.center {
  text-align: center;
}

.search-icon {
  margin-top: 0.8rem;
}

.list {
  border-style: outset;
  border-width: 2px;
  margin: 10px;
  border-radius: 10px;
}

.star {
  color: yellow;
  margin: 3px;
}

.left {
  text-align: left;
}

.error {
  font-size: 1.2rem;
  color: gold;
}

.success {
  font-size: 1.2rem;
  color: cyan;
}

.block-title {
  color: blue;
}

.price {
  text-align: end;
  color: red;
  max-width: 15%;
  font-size: 1.1rem;
}

.img-list {
  width: 4.5rem;
  height: 6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--ion-color-primary);
}

.note {
  font-size: 0.9rem;
  text-align: center;
  color: red;
}

.selected {
  background-color: lightskyblue;
}

.card-footer {
  padding-top: 0;
  height: 2rem;
}

.darkblue {
  --background: darkblue;
  --button-color: darkblue;
}

.deeppink {
  --background: deeppink;
  --button-color: deeppink;
}

.maroon {
  --background: maroon;
  --button-color: maroon;
}

.red {
  --background: red;
  --button-color: red;
}

.purple {
  --background: purple;
  --button-color: purple;
}

.darkgreen {
  --background: darkgreen;
  --button-color: darkgreen;
}

.darkslategray {
  --background: darkslategray;
  --button-color: darkslategray;
}

.crimson {
  --background: crimson;
  --button-color: crimson;
}

.chocolate {
  --background: chocolate;
  --button-color: chocolate;
}

.darkolivegreen {
  --background: darkolivegreen;
  --button-color: darkolivegreen;
}

.help {
  margin: 20px;
  font-size: 1.5rem;
  color: var(--ion-color-primary);
  text-align: center;
}