/* Your app styles here */
/* Your app styles here */
.sections {
    margin: 1rem;
  }
  
  .center {
    text-align: center;
  }
  
  .total-price {
    margin: 20px;
  }
  
  .order-button {
    margin: 20px;
    width: 10em;
  }
  
  .search-icon {
    margin-top: 0.8rem;
  }
  
  .star {
    color: yellow;
    margin: 3px;
  }
  
  .left {
    text-align: left;
  }
  
  .error {
    color: red;
  }
  
  .success {
    color: green;
  }

  .green {
    color: green;
  }
  
  .blue {
    color: blue;
  }
  
  .red {
    color: red;
  }
  
  .logo {
    width: 100px;
  }
  
  .icons {
    color: white;
  }
  
   .block-title {
    color: blue;
  }

  .price {
    font-size: 1.2rem;
    color: blue;
    margin-right: 0.2rem;
  }

  .avatar {
    width: 100px;
  }

